.background {
    height: 80vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
}
    
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;
    z-index: 2;
}
