.row {
    display: flex;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.main-nav {
    display: flex;
    height: 125px;
    width: 1300px;
    align-items: flex-end;
}

.push {
    margin-left: auto;
}

.main-nav ul button {
    margin-top: 10px;
}